src/main/mule/validation-poc-3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config3" doc:name="HTTP Listener config" doc:id="28ca58ca-dc15-4211-a5b2-b078f9211ae1" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="validation-poc-3Flow" doc:id="71cd324d-5767-4bc5-b02f-1c1efba12c22" >
		<http:listener doc:name="Listener" doc:id="7e42c16b-b8ce-4a4d-9c93-43a4c4461529" config-ref="HTTP_Listener_config3" path="/validate"/>
		<ee:transform doc:name="Transform Message" doc:id="b827f578-a142-4598-ae91-b07b484b165a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
 payload as Object {class: "Example"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<java:invoke-static doc:name="Invoke static" doc:id="f6ac1ac7-c9ff-4746-9437-4f37f1b16d47" class="MyComponent" method="process(Example)">
			<java:args ><![CDATA[#[payload as Object {class: "Example"}]]]></java:args>
		</java:invoke-static>
		<logger level="INFO" doc:name="Logger" doc:id="e8381248-bc95-45e4-9746-accd633d2ffa" message="#[payload]"/> 
	</flow>
</mule>
